###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=60e8ea8d25704e99db3903199b87eccb
#TRUSTED_PROXIES=127.0.0.1,127.0.0.2
#TRUSTED_HOSTS='^localhost|example\.com$'
###< symfony/framework-bundle ###
